This code detects the location of starting point of positions;

Input: List of offices with coordinate information + Images of corresponding offices

=> Output: List of offices with coordinate of positions

In [1]:
import pandas as pd
import os
import cv2
import numpy as np
import json

In [2]:
#Test Code| Version 2#
Year='1934'
Showa='9'
#Read Motherdata
path="C:\\Users\\Keitaro Ninomiya\\Box\\Research Notes (keitaro2@illinois.edu)\\Tokyo_Jobs\\Processed_Data\\"+Year+"\\DataFrame.json"
with open(path, 'r') as j:
     dta = json.loads(j.read())

In [3]:
#Test code| Version 2#
path="C:\\Users\\Keitaro Ninomiya\\Box\\Research Notes (keitaro2@illinois.edu)\\Tokyo_Jobs\\Raw_Data\\Splited\\"+Year+"\\"
os.chdir(path)
df = pd.read_csv(r'C:/Users/Keitaro Ninomiya/Box/Research Notes (keitaro2@illinois.edu)/Tokyo_Jobs/Processed_Data/Index/S'+Showa+'.csv')
df=df.drop(df.columns[0], axis=1)

PositionList=['Manager','Leader','Admin','Outsource','Engineer1','Engineer2']

In [8]:
# Function for returning x coordinate of Position name
def Detect_Position(Json,Position):
    NewList=Json['fields']
    Dict=list()
    for d in NewList:
        try:
            newDict={}
            newDict['inferText']=d['inferText']
            newDict['boundingPoly']=d['boundingPoly']
            Dict.append(newDict)
        except KeyError:
            continue
            
    ### Get Coordinates ###
    if Position=='Manager':        
        res = [d
           for d in Dict 
           if ('主事' in d['inferText']) or ('主' in d['inferText'])]
        if len(res)!=0:
            res = res[0]['boundingPoly']['vertices']
            Edge=max(int(d['x']) for d in res)
            return(Edge)
        else:
            return([])
    
    if Position=='Leader':        
        res = [d
           for d in Dict 
           if ('課長' in d['inferText']) or ('課' in d['inferText'])]
        if len(res)!=0:
            res = res[0]['boundingPoly']['vertices']
            Edge=max(int(d['x']) for d in res)
            return(Edge)
        else:
            return([])
        
    if Position=='Engineer1':        
        res = [d
           for d in Dict 
           if ('技師' in d['inferText']) or ('師' in d['inferText'])]
        if len(res)!=0:
            res = res[0]['boundingPoly']['vertices']
            Edge=max(int(d['x']) for d in res)
            return(Edge)
        else:
            return([])
    
    if Position=='Engineer2':        
        res = [d
           for d in Dict 
           if ('技手' in d['inferText']) or ('手' in d['inferText'])]
        if len(res)!=0:
            res = res[0]['boundingPoly']['vertices']
            Edge=max(int(d['x']) for d in res)
            return(Edge)
        else:
            return([])
        
    if Position=='Admin':        
        res = [d
           for d in Dict 
           if ('事務員' in d['inferText'])]
        if len(res)!=0:
            res = res[0]['boundingPoly']['vertices']
            Edge=max(int(d['x']) for d in res)
            return(Edge)
        else:
            return([])
        
    if Position=='Outsource':
        res = [d
           for d in Dict 
           if '嘱託員' in d['inferText']]
        if len(res)!=0:
            res = res[0]['boundingPoly']['vertices']
            Edge=max(int(d['x']) for d in res)
            return(Edge)
        else:
            return([])
        
    if Position=='Clerk':
        res = [d
           for d in Dict 
           if d['inferText']=='書記']
        if len(res)!=0:
            res = res[0]['boundingPoly']
            Edge = max(res, key = lambda i : i[0])[0]
            return(Edge)
        else:
            return([])
        
    if Position=='Worker':
        res = [d
           for d in Dict 
           if d['inferText']=='雇']
        if len(res)!=0:
            res = res[0]['boundingPoly']
            Edge = max(res, key = lambda i : i[0])[0]
            return(Edge)
        else:
            return([])
        
### CLOVA FUNCTION ###
import requests
import uuid
import time
import json
import cv2
import base64

api_url = 'https://deelieyxuc.apigw.ntruss.com/custom/v1/1972/ebd01bcbf693d069817622e9839e20914143c7d0d8953eddee40e8b0af96c95b/general'
secret_key = 'S1NmVXpYZlJ0cGJ0ZEFRZXVlbkRkaHFReE9FcHNTQ0U='

def Clova(Dept,Office,ImagePage):
    path="C:\\Users\\Keitaro Ninomiya\\Box\\Research Notes (keitaro2@illinois.edu)\\Tokyo_Jobs\\Raw_Data\\Office_Level\\"+Year+"\\"+Dept+"\\"+Office+"\\"
    with open(path+"Image"+str(ImagePage)+".png",'rb') as f:
         file_data = f.read()

    request_json = {
            'images': [
                {
                    'format': 'jpg',
                    'name': 'demo',
                    'data':base64.b64encode(file_data).decode()}],
            'requestId': str(uuid.uuid4()),
            'version': 'V2',
            'timestamp': int(round(time.time() * 1000)),
            'lang':'ja'
            }
    payload = json.dumps(request_json).encode("UTF-8")
    headers = {'X-OCR-SECRET': secret_key,
              'Content-Type': 'application/json'}
    response = requests.request("POST", api_url, headers=headers, data = payload)
    Json=json.loads(response.text)['images'][0]
    
    return Json    


class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        if isinstance(obj, np.floating):
            return float(obj)
        if isinstance(obj, np.ndarray):
            return obj.tolist()
        return super(NpEncoder, self).default(obj)

In [9]:
#Test code| Version 2#
for n in range(0,len(df)):
    #Show Working office#
    #Extract key info of office
    if n==len(df):
        print('FINISHED!')
        break
    Row  = df.iloc[n]
    NxRow= df.iloc[n+1]
    

    ###Collect Location information###
    Page=int(Row["Page"])
    NxPage=int(NxRow["Page"])

    Dept=Row["Dept"]
    NxDept=NxRow["Dept"]

    Office=Row["Office"]
    NxOffice=NxRow["Office"]
    
    print(Dept,Office)

    #Convert to json via CLOVA
    JsonList=[]
    for l in range(1,len(dta[str(Year)][Dept][Office]['Page_Range'])+1):
        try:
            Json=Clova(Dept,Office,l)                
        except FileNotFoundError:
            break
        JsonList.append(Json)
        Index=0
        for element in JsonList:
            if 'fields' not in list(element.keys()):
                JsonList=JsonList[-0]
            Index=Index+1
        
    #Find Starting X coordinates of Positions.
    PositionListNow=PositionList.copy()
    path="C:\\Users\\Keitaro Ninomiya\\Box\\Research Notes (keitaro2@illinois.edu)\\Tokyo_Jobs\\Raw_Data\\Splited\\"+Year+"\\"
    Page_Range=dta[str(Year)][Dept][Office]['Page_Range']
    if Page_Range=='NA':
        continue
    CordDict={}
    Page=Page_Range[0]

    if len(JsonList)==7:
        continue
    else:
        for k in range(0,len(JsonList)):
            CordList=list(map(Detect_Position,[JsonList[k]]*len(PositionListNow),PositionListNow))
            Positions= {PositionListNow[i]:CordList[i] for i in range(len(PositionListNow))}
            Positions = {k:v for k,v in Positions.items() if v}    
            print(Positions)

            PosiList = list(Positions.keys())
            CordList = list(Positions.values())

            CordDictNow= {PosiList[i]: {'XLocation':CordList[i],'Page':Page} for i in range(len(PosiList))}
            CordDictNow = {k:v for k,v in CordDictNow.items() if v}
            CordDict.update(CordDictNow)
            Page=Page+1

            for x in list(CordDictNow.keys()):
              PositionListNow.remove(x)

            if len(PositionListNow)==0:
                continue
        dta[Year][Dept][Office]['Position']=CordDict

        ##Add Ending information
        Frame=pd.DataFrame.from_dict(dta[Year][Dept][Office]['Position'],orient='index')
        if len(Frame)==0:
            continue
        Frame=Frame.sort_values(by = ['Page', 'XLocation'], ascending = [True, False])
        if len(dta[Year][Dept][Office]['Position'])==0:
            continue
        Frame["EndLocation"]=list(Frame['XLocation'].shift(-1))[:-1]+list([dta[Year][Dept][Office]["Office_X2"]])
        Frame["EndPage"]=list(Frame['Page'].shift(-1))[:-1]+list([dta[Year][NxDept][NxOffice]["Starting_Page"]])
        display(Frame)
        Frame=Frame.to_dict('index')
        dta[Year][Dept][Office]['Position']=Frame

Admin 秘書課
{'Manager': 100, 'Leader': 136, 'Admin': 51}

         XLocation  Page  EndLocation  EndPage
Leader         136     2        100.0      2.0
Manager        100     2         51.0      2.0
Admin           51     2        189.0      2.0

Admin 職員課
{'Manager': 150, 'Leader': 179}
{'Admin': 118}

         XLocation  Page  EndLocation  EndPage
Leader         179     2        150.0      2.0
Manager        150     2        118.0      3.0
Admin          118     3        314.0      3.0

Admin 文書課
{'Manager': 274, 'Leader': 242}
{'Admin': 469}
{}

         XLocation  Page  EndLocation  EndPage
Manager        274     3        242.0      3.0
Leader         242     3        469.0      4.0
Admin          469     4        466.0      5.0

監査局 庶務課
{'Manager': 244, 'Leader': 213, 'Admin': 102}

         XLocation  Page  EndLocation  EndPage
Manager        244     5        213.0      5.0
Leader         213     5        102.0      5.0
Admin          102     5        187.0      5.0

監査局 監察課
{'Manager': 153, 'Leader': 177}
{'Admin': 157}

         XLocation  Page  EndLocation  EndPage
Leader         177     5        153.0      5.0
Manager        153     5        157.0      6.0
Admin          157     6        233.0      6.0

監査局 区政課
{'Manager': 196, 'Leader': 166}
{'Admin': 151, 'Outsource': 14}

           XLocation  Page  EndLocation  EndPage
Manager          196     6        166.0      6.0
Leader           166     6        151.0      7.0
Admin            151     7         14.0      7.0
Outsource         14     7        392.0      7.0

監査局 統計課
監査局 都市計画課
財務局 主計課
{'Manager': 206, 'Leader': 231}
{'Admin': 131}

         XLocation  Page  EndLocation  EndPage
Leader         231    11        206.0     11.0
Manager        206    11        131.0     12.0
Admin          131    12        324.0     12.0

財務局 公債課
財務局 収納課
{'Manager': 408, 'Leader': 433, 'Admin': 119}
{'Engineer2': 198}
{}
{}
{}

           XLocation  Page  EndLocation  EndPage
Leader           433    13        408.0     13.0
Manager          408    13        119.0     13.0
Admin            119    13        198.0     14.0
Engineer2        198    14        113.0     17.0

財務局 経理課
{'Manager': 79, 'Leader': 103}
{'Admin': 326, 'Engineer1': 355, 'Engineer2': 91}
{}

           XLocation  Page  EndLocation  EndPage
Leader           103    17         79.0     17.0
Manager           79    17        355.0     18.0
Engineer1        355    18        326.0     18.0
Admin            326    18         91.0     18.0
Engineer2         91    18        474.0     19.0

財務局 地理課
{'Manager': 437, 'Leader': 406, 'Admin': 240, 'Engineer1': 270}
{'Engineer2': 324}
{}

           XLocation  Page  EndLocation  EndPage
Manager          437    19        406.0     19.0
Leader           406    19        270.0     19.0
Engineer1        270    19        240.0     19.0
Admin            240    19        324.0     20.0
Engineer2        324    20        555.0     21.0

財務局 会計課
{'Manager': 383, 'Leader': 402, 'Admin': 267, 'Engineer2': 231}

           XLocation  Page  EndLocation  EndPage
Leader           402    21        383.0     21.0
Manager          383    21        267.0     21.0
Admin            267    21        231.0     21.0
Engineer2        231    21        119.0     21.0

産業局 庶務課
{'Leader': 107}
{'Manager': 130, 'Admin': 96}

         XLocation  Page  EndLocation  EndPage
Leader         107    21        130.0     22.0
Manager        130    22         96.0     22.0
Admin           96    22        288.0     22.0

産業局 商工課
{'Manager': 247, 'Leader': 277, 'Admin': 79}
{'Outsource': 119, 'Engineer2': 186}

           XLocation  Page  EndLocation  EndPage
Leader           277    22        247.0     22.0
Manager          247    22         79.0     22.0
Admin             79    22        186.0     23.0
Engineer2        186    23        119.0     23.0
Outsource        119    23        255.0     23.0

産業局 農魚課
{'Manager': 219, 'Leader': 189, 'Engineer1': 125}
{'Admin': 484, 'Engineer2': 434}
{}

           XLocation  Page  EndLocation  EndPage
Manager          219    23        189.0     23.0
Leader           189    23        125.0     23.0
Engineer1        125    23        484.0     24.0
Admin            484    24        434.0     24.0
Engineer2        434    24        500.0     25.0

産業局 権度課
{'Leader': 303, 'Admin': 243, 'Engineer1': 334, 'Engineer2': 223}

           XLocation  Page  EndLocation  EndPage
Engineer1        334    25        303.0     25.0
Leader           303    25        243.0     25.0
Admin            243    25        223.0     25.0
Engineer2        223    25        127.0     25.0

教育局 庶務課
{'Manager': 91, 'Leader': 116}
{'Admin': 100}

         XLocation  Page  EndLocation  EndPage
Leader         116    25         91.0     25.0
Manager         91    25        100.0     26.0
Admin          100    26        323.0     26.0

教育局 学務課
教育局 社会教育課
教育局 体育課
{'Manager': 224, 'Leader': 263, 'Engineer1': 151}
{'Admin': 231, 'Outsource': 179}
{'Engineer2': 265}
{}

           XLocation  Page  EndLocation  EndPage
Leader           263    30        224.0     30.0
Manager          224    30        151.0     30.0
Engineer1        151    30        231.0     31.0
Admin            231    31        179.0     31.0
Outsource        179    31        265.0     32.0
Engineer2        265    32        387.0     33.0

教育局 視学課
{'Manager': 277, 'Leader': 375, 'Engineer1': 211}
{'Admin': 143, 'Outsource': 55, 'Engineer2': 212}
{}
{}

           XLocation  Page  EndLocation  EndPage
Leader           375    33        277.0     33.0
Manager          277    33        211.0     33.0
Engineer1        211    33        212.0     34.0
Engineer2        212    34        143.0     34.0
Admin            143    34         55.0     34.0
Outsource         55    34        101.0     36.0

社会局 庶務課
{'Manager': 61, 'Leader': 91}
{'Admin': 234, 'Outsource': 70}

           XLocation  Page  EndLocation  EndPage
Leader            91    36         61.0     36.0
Manager           61    36        234.0     37.0
Admin            234    37         70.0     37.0
Outsource         70    37        174.0     37.0

社会局 保護課
社会局 福利課
{'Manager': 193, 'Leader': 223}
{'Admin': 335, 'Engineer1': 352}
{'Engineer2': 380}
{}

           XLocation  Page  EndLocation  EndPage
Leader           223    43        193.0     43.0
Manager          193    43        352.0     44.0
Engineer1        352    44        335.0     44.0
Admin            335    44        380.0     45.0
Engineer2        380    45        290.0     46.0

社会局 職業課
{'Manager': 258, 'Leader': 279}
{'Admin': 417, 'Engineer1': 448, 'Engineer2': 199}
{}
{}
{}

           XLocation  Page  EndLocation  EndPage
Leader           279    46        258.0     46.0
Manager          258    46        448.0     47.0
Engineer1        448    47        417.0     47.0
Admin            417    47        199.0     47.0
Engineer2        199    47        282.0     50.0

保健局 庶務課
{'Manager': 248, 'Leader': 272, 'Admin': 79}
{'Engineer2': 13}

           XLocation  Page  EndLocation  EndPage
Leader           272    50        248.0     50.0
Manager          248    50         79.0     50.0
Admin             79    50         13.0     51.0
Engineer2         13    51        417.0     51.0

保健局 衛生課

KeyError: 'Page_Range'

In [10]:
json_object = json.dumps(dta, indent=4,
                        cls=NpEncoder)
save_path='C:\\Users\\Keitaro Ninomiya\\Box\\Research Notes (keitaro2@illinois.edu)\\Tokyo_Jobs\\Processed_Data\\'+str(Year)+'\\'
with open(save_path+"DataFrame.json", "w") as outfile:
    outfile.write(json_object)